@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body{
    width: 680px;
    margin: auto;
    padding-top: 60px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.2em;
    color: #666;
}

#txt{
    padding: 8px;
    color: #0764a2;
}

#idiomas a{
    padding: 16px;
    border-radius: 8px 8px 0px 0px;
    background: rgb(226,249,212);
    background: linear-gradient(180deg, rgba(226,249,212,1) 35%, rgba(255,255,255,1) 100%);
    text-decoration: none;
    color: #3d592b;
}

nav{
    margin-bottom: 24px;
}

#caja{
    width: 200px;
    height: 200px;
    border: 1px solid #666;
    background-color: #e4e4e4;
    border-radius: 12px;
    padding: 32px;
}